@charset "UTF-8";

.resume {
    background-color: #eae8e7;
    color: #222;
}

.resume .contacts {
    margin-top: 30px;
}

.resume .photo {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    width: 100%;
}

.resume .container {
    margin-top: 20px;
}

.resume .contacts i {
    font-size: 1.4em;
    display: block;
    float: left;
    margin-right: 5px;
    width: 25px;
}

.resume .hobbies {
    text-align: center;
}

.resume .hobbies i {
    font-size: 1.8em;
    margin: 0 5px;
    color: #767270;
}

.resume .hobbies .table>tbody>tr>td {
    vertical-align: middle;
}

.resume .certificates .panel-body {
    text-align: center;
}

.resume .certificates .thumbnail {
    width: 160px;
    margin: 0 auto;
    display: inline-block;
}

.resume a.edit-block {
    color: #000000;
    float: right;
    font-size: 0.9em;
    text-decoration: underline;
}