<%@tag language="java" pageEncoding="utf-8" trimDirectiveWhitespaces="true" %>

<div class="card bg-light mb-3">
    <div class="card-header"><i class="fas fa-book-open"></i> Cources<a class="edit-block" href="/edit/courses">Edit</a></div>
    <div class="card-body">
        <p class="card-text">Cources</p>
    </div>
</div>