<%@tag language="java" pageEncoding="utf-8" trimDirectiveWhitespaces="true" %>

<div class="card bg-light mb-3">
    <div class="card-header"><i class="fas fa-globe"></i> Language <a class="edit-block" href="/edit/languages">Edit</a></div>
    <div class="card-body">
        <p class="card-text">
            <strong>English:</strong> Intermediate<br>
        </p>
    </div>
</div>