<%@tag language="java" pageEncoding="utf-8" trimDirectiveWhitespaces="true" %>

<div class="card bg-light mb-3">
    <div class="card-header"><i class="fas fa-graduation-cap"></i> Education<a class="edit-block" href="/edit/education">Edit</a></div>
    <div class="card-body">
        <p class="card-text">Education</p>
    </div>
</div>