<%@tag language="java" pageEncoding="utf-8" trimDirectiveWhitespaces="true" %>

<div class="card bg-light mb-3">
    <div class="card-header"><i class="fas fa-info"></i> Info<a class="edit-block" href="/edit/info">Edit</a></div>
    <div class="card-body">
        <p class="card-text text-justify">Married, Tho children</p>
    </div>
</div>